<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="warning" (click)="closeModal()"><ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Task</ion-title>
    <ion-buttons slot="end" collapse="false">
      <ion-button color="primary" [disabled]="data.description == '' || data.id_category == ''" (click)="saveDataTask()">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-textarea label="Description" labelPlacement="floating" [(ngModel)]="data.description"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Category</ion-label>
      <ion-select okText="Accept" cancelText="Cancel" interface="action-sheet" slot="end" [(ngModel)]="data.id_category">
        <ion-select-option value="">Select...</ion-select-option>
        <ion-select-option [value]="item.id" *ngFor="let item of listCategories">{{ item.description }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>