<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Tasks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tasks</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-searchbar class="ion-no-padding" placeholder="Buscar" [(ngModel)]="filters.taskDescription" (ngModelChange)="changeFilters()" animated></ion-searchbar>
        </ion-item>
        <ion-item>
          <ion-label>Category</ion-label>
          <ion-select mode="ios" okText="Accept" cancelText="Cancel" interface="action-sheet" slot="end" [(ngModel)]="filters.idCategory" (ngModelChange)="changeFilters()">
            <ion-select-option value="">Select...</ion-select-option>
            <ion-select-option [value]="item.id" *ngFor="let item of listCategories">{{ item.description }}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-list>

      <ion-item-sliding *ngFor="let item of listTasksFilter">
        <ion-item-options side="start">
          <ion-item-option color="success" (click)="finishTask(item)" *ngIf="item.id_state !== 2" expandable><ion-icon name="checkmark-outline"></ion-icon></ion-item-option>
          <ion-item-option color="danger" (click)="deleteTask(item.id)" expandable><ion-icon name="trash"></ion-icon></ion-item-option>
        </ion-item-options>

        <ion-item (click)="selectTask(item)">
          <ion-label>{{ item.description }}</ion-label>
          <ion-badge color="success" mode="ios" slot="end">{{ item.description_state }}</ion-badge>
        </ion-item>
      </ion-item-sliding>
    
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="changeFilters($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
  </ion-content>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="ellipsis-vertical-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button data-desc="New task" (click)="addTask()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-button data-desc="Categories" (click)="showCategories()">
        <ion-icon name="list-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  
</ion-content>
